- @import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");
html, body, div, h1, h3, p, b, i, ul, li, article, header, nav {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, header, nav {
	display: block;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	background: #fff;
	font-family: 'merriweather-regular', sans-serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 30px;
	color: #4A5153;
	-webkit-font-smoothing: antialiased;
	/* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
h1, h3 {
	color: #444;
	font-family: 'opensans-semibold', sans-serif;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}
h1 a {
	font-weight: inherit;
}
h1 {
	font-size: 38px;
	line-height: 42px;
	margin-bottom: 12px;
	letter-spacing: -1px;
}
h3 {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 12px;
}
p {
	margin: 0 0 30px 0;
}
b {
	font: 15px/30px 'merriweather-bold', sans-serif;
}
a, a:visited {
	text-decoration: none;
	outline: 0;
	color: orange;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
a:hover, a:focus {
	color: #34393A;
}
p a, p a:visited {
	line-height: inherit;
}
ul {
	margin-bottom: 24px;
	margin-top: 12px;
}
ul {
	list-style: none
}
ul li {
	padding-left: 4px;
}
.row {
	width: 94%;
	max-width: 1008px;
	margin: 0 auto;
}
.row .row {
	width: auto;
	max-width: none;
	margin: 0 -18px;
}
.row:before, .row:after {
	content: " ";
	display: table;
}
.row:after {
	clear: both;
}
.columns {
	position: relative;
	padding: 0 18px;
	min-height: 1px;
	float: left;
}
.eight, .row .eight {
	width: 100%;
}
.twelve, .row .twelve {
	width: 100%;
}
@media only screen and (max-width: 900px) {}
@media only screen and (max-width: 767px) {
	.row {
		width: 480px;
		margin: 0 auto;
		padding: 0;
	}
	.columns {
		width: auto !important;
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding: 0 30px;
	}
	.row .row {
		width: auto;
		max-width: none;
		margin: 0 -30px;
	}
}
@media only screen and (max-width: 480px) {
	.row {
		width: auto;
	}
}
.node {
	cursor: pointer;
}
.node circle {
	cursor: pointer;
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}
.node text {
	font-size: 14px;
	font-weight: bold;
	fill: rgb(0, 0, 0);
}
path.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
}
