body {
	background: #F6F5F5;
	border-top: 6px solid orange;
}
header {
	width: 100%;
	height: 200px;
	background: #fff;
}
header .header-content {
	background: #fff url(img/header-content-bg.png) no-repeat right 150px bottom;
	height: 200px;
	position: relative;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	header .header-content {
		background: #fff url(img/header-content-bg_@2X.png);
		text-align: center;
		background-size: 361px 256px;
	}
}
header h1#logo-text {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 88px;
	left: 18px;
}
header h1#logo-text a {
	margin: 0;
	padding: 0;
	font: normal 70px Georgia, Serif;
	letter-spacing: -5px;
	color: #333;
	text-decoration: none;
}
header p#intro {
	margin: 0;
	padding: 0;
	font: 16px/24px 'opensans-light', Georgia, Serif;
	font-weight: normal;
	color: #C8C8C8;
	width: 300px;
	position: absolute;
	top: 192px;
	left: 30px;
}
#nav-wrap, #nav-wrap ul, #nav-wrap li, #nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
#nav-wrap {
	font: 12px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #F5F4F3;
	border-bottom: 1px solid #EAE8E8;
	width: 100%;
	float: left;
	position: absolute;
	top: 6px;
	left: 0;
}
ul#nav {
	min-height: 50px;
	width: auto;
	margin-left: 20px;
	float: left;
	position: relative;
	top: 0;
	text-align: left;
}
ul#nav li {
	position: relative;
	list-style: none;
	height: 50px;
	display: inline-block;
	padding-top: 10px;
}
ul#nav>li {
	float: left;
}

/* Links */

ul#nav li a {
	display: inline-block;
	padding: 0 15px;
	line-height: 40px;
	text-decoration: none;
	color: #666666;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
ul#nav li a:hover {
	color: #222;
}
ul#nav li a:active {
	background-color: transparent !important;
}
ul#nav li.current>a {
	background: #fff;
	padding: 0 14px;
	border-right: 1px solid #EAE8E8;
	border-top: 1px solid #EAE8E8;
	border-left: 1px solid #EAE8E8;
	border-radius: 3px 3px 0 0;
}
#content-wrap {
	background: #fff;
	padding: 42px 0 3px 0;
}
#content-wrap #main {

}
.entry {
	padding-bottom: 12px;
	margin-bottom: 24px;
}
.entry header {
	height: auto;
}
footer {
	padding-top: 36px;
	margin-bottom: 42px;
	font-size: 13px;
	line-height: 24px;
	position: relative;
	color: #34393A;
}
footer a, footer a:visited {
	color: orange;
}
footer a:hover, footer a:focus {
	color: #34393A;
}
#go-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	text-align: center;
	display: none;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 48px;
	height: 48px;
	background-color: #494949;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #fff;
	font-size: 16px;
	line-height: 48px;
	border-radius: 3px;
}
#go-top a:hover {
	background: #7BA857;
}
